<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message%></h4>
            <!--err.stack show detail errors-->
            <% if (process.env.NODE_ENV !== "production") { %>
                <!--err.stack is the details of the error-->
                <p class="text-break"><%= err.stack %></p>
            <% } %>
        </div>
    </div>
</div>

<!--To keep paragraph content inside table, we can either
<div class="col-8 offset-2">, or
add <p class="text-break"> -->